<a href="https://colab.research.google.com/github/Ahmed11Raza/learning-python/blob/main/Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Teaching Python Operators with Examples

# Arithmetic Operators

In [1]:
print("Arithmetic Operators")
a = 10
b = 3
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Exponentiation:", a ** b)
print("\n")

Arithmetic Operators
Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponentiation: 1000

# Assignment Operators

In [2]:
print("Assignment Operators")
x = 5
x += 3  # x = x + 3
print("x after += 3:", x)
x *= 2  # x = x * 2
print("x after *= 2:", x)
x -= 4  # x = x - 4
print("x after -= 4:", x)
print("\n")

Assignment Operators
x after += 3: 8
x after *= 2: 16
x after -= 4: 12

# Comparison Operators

In [3]:
print("Comparison Operators")
x = 10
y = 20
print("x == y:", x == y)
print("x != y:", x != y)
print("x > y:", x > y)
print("x < y:", x < y)
print("x >= y:", x >= y)
print("x <= y:", x <= y)
print("\n")

Comparison Operators
x == y: False
x != y: True
x > y: False
x < y: True
x >= y: False
x <= y: True

# Logical Operators

In [4]:
print("Logical Operators")
x = True
y = False
print("x and y:", x and y)
print("x or y:", x or y)
print("not x:", not x)
print("\n")

Logical Operators
x and y: False
x or y: True
not x: False

# Bitwise Operators

In [5]:
print("Bitwise Operators")
a = 5  # 0101 in binary
b = 3  # 0011 in binary
print("a & b (AND):", a & b)
print("a | b (OR):", a | b)
print("a ^ b (XOR):", a ^ b)
print("~a (NOT):", ~a)
print("a << 1 (Left Shift):", a << 1)
print("a >> 1 (Right Shift):", a >> 1)
print("\n")

Bitwise Operators
a & b (AND): 1
a | b (OR): 7
a ^ b (XOR): 6
~a (NOT): -6
a << 1 (Left Shift): 10
a >> 1 (Right Shift): 2

# Membership Operators

In [6]:
print("Membership Operators")
list_example = [1, 2, 3, 4, 5]
print("3 in list_example:", 3 in list_example)
print("10 not in list_example:", 10 not in list_example)
print("\n")

Membership Operators
3 in list_example: True
10 not in list_example: True

# Identity Operators

In [8]:
print("Identity Operators")
x = [1, 2, 3]
y = x
z = [1, 2, 3]
print("x is y:", x is y)
print("x is z:", x is z)
print("x == z:", x == z)

Identity Operators
x is y: True
x is z: False
x == z: True