<a href="https://colab.research.google.com/github/Ahmed11Raza/learning-python/blob/main/Python_Data_Types_and_Special_Keywords.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Types and Special Keywords:

# 1. Introduction to Data Types

# Data types define the type of data a variable can store. Python has built-in types categorized as:

**Basic Types: int, float, str, bool, NoneType**

**Collection Types: list, tuple, dict, set**

# 2. Basic Data Types
Integer (int)
Represents whole numbers.

In [1]:
a = 10
print(a, type(a))

10 <class 'int'>

# Float (float)
# Represents decimal numbers.

In [2]:
b = 3.14
print(b, type(b))

3.14 <class 'float'>

# String (str)
# Represents text enclosed in quotes.

In [3]:
c = "Hello, Python!"
print(c, type(c))

Hello, Python! <class 'str'>

# Boolean (bool)
Represents True or False.

In [4]:
d = True
print(d, type(d))

True <class 'bool'>

# NoneType (None)
Represents absence of value.

In [5]:
e = None
print(e, type(e))

None <class 'NoneType'>

# 3. Collection Data Types
# List (list)
Mutable, ordered collection.

In [1]:
fruits = ["apple", "banana", "cherry"]
print(fruits, type(fruits))

['apple', 'banana', 'cherry'] <class 'list'>

# Tuple (tuple)
Immutable, ordered collection.

In [2]:
coordinates = (4, 5)
print(coordinates, type(coordinates))

(4, 5) <class 'tuple'>

# Dictionary (dict)
Key-value pairs.

In [3]:
student = {"name": "Alice", "age": 20}
print(student, type(student))

{'name': 'Alice', 'age': 20} <class 'dict'>

# Set (set)
Unordered, unique elements.

In [4]:
unique_numbers = {1, 2, 3, 2}
print(unique_numbers, type(unique_numbers))

{1, 2, 3} <class 'set'>

# 4. Type Conversion
Convert between types using functions like int(), str(), etc.

In [5]:
num_str = "100"
num_int = int(num_str)
print(num_int, type(num_int))

100 <class 'int'>

# 5. Special Keywords
Python has reserved keywords with special meanings.

**List All Keywords**

In [6]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Common Keywords
# None: Represents "no value".

In [7]:
x = None
print(x is None)

True

# is vs ==
# is checks identity, == checks value.

In [8]:
list1 = [1, 2]
list2 = [1, 2]
print(list1 == list2)
print(list1 is list2)

True
False

# in: Membership test.

In [9]:
print("apple" in ["apple", "banana"])

True

# and/or: Logical operators.

In [10]:
print(True and False)
print(True or False)

False
True

# not: Logical negation.

In [11]:
print(not True)

False